<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Analíticas</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap.css" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen,projection">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="breadcrumb">
                <span>LOGO</span>
                <span class="pull-right">{{ date }}</span>
            </div>
                <span class="pull-right" style="padding: 70px;">
                    LOGO BANCO
                </span>
            <h3>Análisis del Caso</h3>
            <p><b>Nombre:</b> {{ case.name }}</p>
            <p><b>ID:</b> {{ case.id }}</p>
            <p><b>Monto Faltante:</b> {{ case.missing_amount }}</p>
            <p><b>Cantidad de ATMs afectados:</b> {{ case.atms.count }}</p>
            <p><b>Fecha:</b> {{ case.created_date }}</p>
            <p><b>Cliente:</b> {{ case.bank }}</p>
            <br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Archivos logs</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="error-table">
                        <thead>
                        <tr>
                            <th>Nombre del archivo</th>
                            <th>Fecha creación</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>archivo1</td>
                            <td>2013-06-02</td>
                        </tr>
                        <tr>
                            <td>archivo2</td>
                            <td>2013-06-02</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3>Reporte Ejecutivo</h3>
            <div class="col-md-4 col-xs-4">
                <h6>Logs XFS
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">30%</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6><br>
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">99%</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Culpa usuario
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">98%</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Cantidad de errores criticos
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">1123</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Errores importantes
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">200</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Total transacciones
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">3000</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Transacciones correctas
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">1150000$</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Total faltante
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">1550$</div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Transacciones erroneas
                    <a href="javascript: void (0)" data-toggle="popover"
                       data-placement="left" data-html="true"
                       data-trigger="focus" title="Title"
                       data-content="Body">
                    </a>
                </h6>
                <div class="well text-center" style="font-size: 36px;">5%</div>
            </div>
            <br>
            <h3>Reporte Técnico</h3>
            <h4>Nombre del analista</h4>
            {% if resolution %}
            <p><b>Resolución:</b></p>
            <div class="form-group">
                    <textarea readonly>
                        {{ resolution }}
                    </textarea>
            </div>
            {% endif %}
            <br>
            <div class="col-md-4 col-xs-4">
                <h6>Errores Criticos</h6>
                <img src="{{ chart_critical_errors }}"
                     style="width: 100%; height: 200px; margin: 0px auto; max-height: 200px; position: relative;"/>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Errores Importantes</h6>
                <img src="{{ chart_important_errors }}"
                     style="width: 100%; height: 200px; margin: 0px auto; max-height: 200px; position: relative;"/>
            </div>
            <div class="col-md-4 col-xs-4">
                <h6>Transacciones sin problemas</h6>
                <img src="{{ chart_no_problem }}"
                     style="width: 100%; height: 200px; margin: 0px auto; max-height: 200px; position: relative;"/>
            </div>
            <div class="col-md-12 col-xs-12">
                <h5>Reporte de Operaciones</h5>
                <img src="{{ chart_operations_report }}"
                     style="width: 100%; height: 300px; margin: 0px auto; max-height: 300px; position: relative;"/>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
</body>
</html>