{% extends "base/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <a href="{% url 'analytics:create' %}" class="btn btn-lg btn-primary pull-right">
                        Crear caso
                    </a>
                </div>
                <br>
                <div class="panel panel-primary row">
                    <div class="panel-heading">
                        <h3 class="panel-title">Casos</h3>
                        <div class="pull-right">
                            <span class="clickable filter" data-toggle="tooltip" title="Filtro de tabla"
                                  data-container="body">
                                <i class="glyphicon glyphicon-filter"></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="cases-table-filter" data-action="filter"
                               data-filters="#cases-table" placeholder="Filtar casos"/>
                    </div>
                    <table class="table table-hover" id="cases-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre del caso</th>
                            <th>Monto faltante</th>
                            <th>Cantidad de ATMs</th>
                            <th>Estado</th>
                            <th>Resultados</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for case in cases %}
                            <tr>
                                <td><a href="{% url "analytics:view_case" case.id %}">{{ case.number }}</a></td>
                                <td>{{ case.name }}</td>
                                <td>${{ case.missing_amount }}</td>
                                <td>{{ case.atms.count }}</td>
                                <td>{{ case.get_status_display }}</td>
                                <td><a href="{% url "analytics:analyze" case.id %}" class="btn btn-default btn-xs">resultados</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            var oTable = $("#cases-table").DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
            $('#cases-table-filter').keyup(function () {
                oTable.search($(this).val()).draw();
            });

            $('.container').on('click', '.panel-heading span.filter', function (e) {
                var $this = $(this),
                        $panel = $this.parents('.panel');

                $panel.find('.panel-body').slideToggle();
                if ($this.css('display') != 'none') {
                    $panel.find('.panel-body input').focus();
                }
            });
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
{% endblock %}
