{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <a href="{% url 'companies:config' %}" class="btn btn-lg btn-primary pull-right">
                        {% trans "Settings" %}
                    </a>
                </div>
                <br>
                <div class="modal fade" id="new-users-modal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">{% trans "New user" %}</h4>
                            </div>
                            <form id="add-user-form">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div id="user_first_name-group" class="form-group">
                                        {{ create_analyst_form.first_name.label_tag|add_class:"control-label" }}
                                        <span id="user_first_name-error" class="help-block"></span>
                                        {{ create_analyst_form.first_name }}
                                    </div>
                                    <div id="user_last_name-group" class="form-group">
                                        {{ create_analyst_form.last_name.label_tag|add_class:"control-label" }}
                                        <span id="user_last_name-error" class="help-block"></span>
                                        {{ create_analyst_form.last_name }}
                                    </div>
                                    <div id="user_email-group" class="form-group">
                                        {{ create_analyst_form.email.label_tag|add_class:"control-label" }}
                                        <span id="user_email-error" class="help-block"></span>
                                        {{ create_analyst_form.email }}
                                    </div>
                                    <div id="user_username-group" class="form-group">
                                        {{ create_analyst_form.username.label_tag|add_class:"control-label" }}
                                        <span id="user_username-error" class="help-block"></span>
                                        {{ create_analyst_form.username }}
                                    </div>
                                    <div id="user_password-group" class="form-group">
                                        {{ create_analyst_form.password.label_tag|add_class:"control-label" }}
                                        <span id="user_password-error" class="help-block"></span>
                                        {{ create_analyst_form.password }}
                                    </div>
                                    <input type="hidden" name="add-user">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}
                                    </button>
                                    <input type="submit" value="{% trans "Create" %}"
                                           class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary row">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% trans "Users" %}
                            <a href="#" class="pull-right" data-toggle="modal"
                               data-target="#new-users-modal"><i class="fa fa-user-plus"></i> {% trans "Add user" %}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="users-table-filter" data-action="filter"
                               data-filters="#users-table" placeholder="{% trans "Filter users" %}"/>
                    </div>
                    <table class="table table-hover" id="users-table">
                        <thead>
                        <tr>
                            <th>{% trans "Username" %}</th>
                            <th>{% trans "Number of cases" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                {% if user.user.first_name %}
                                    <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
                                {% else %}
                                    <td>{{ user.user.username }}</td>
                                {% endif %}
                                <td>{{ user.analyst_cases.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            var oTable = $("#users-table").DataTable();
            $('#users-table-filter').keyup(function () {
                oTable.search($(this).val()).draw();
            });
            $('[data-toggle="tooltip"]').tooltip();

            // NEW USER FORM
            // function to clean add document modal
            function cleanNewUserModal() {
                $('#user_first_name-group').removeClass('has-error');
                $('#user_first_name-error').text("");
                $('#user_last_name-group').removeClass('has-error');
                $('#user_last_name-error').text("");
                $('#user_email-group').removeClass('has-error');
                $('#user_email-error').text("");
                $('#user_username-group').removeClass('has-error');
                $('#user_username-error').text("");
                $('#user_password-group').removeClass('has-error');
                $('#user_password-error').text("");
            }

            $("#new-users-modal").on('hide.bs.modal', function () {
                cleanNewUserModal();
            });

            $('#add-user-form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                        type: 'POST',
                        data: $('#add-user-form').serialize()
                    })
                    .done(function (data) {
                        location.reload();
                    })
                    .fail(function (data) {
                        cleanNewUserModal();
                        console.log(data);
                        if (data.responseJSON["first_name"]) {
                            $('#user_first_name-group').addClass('has-error');
                            $('#user_first_name-error').text(data.responseJSON["first_name"].join("<br>"));
                        }
                        if (data.responseJSON["last_name"]) {
                            $('#user_last_name-group').addClass('has-error');
                            $('#user_last_name-error').text(data.responseJSON["last_name"].join("<br>"));
                        }
                        if (data.responseJSON["email"]) {
                            $('#user_email-group').addClass('has-error');
                            $('#user_email-error').text(data.responseJSON["email"].join("<br>"));
                        }
                        if (data.responseJSON["username"]) {
                            $('#user_username-group').addClass('has-error');
                            $('#user_username-error').text(data.responseJSON["username"].join("<br>"));
                        }
                        if (data.responseJSON["password"]) {
                            $('#user_password-group').addClass('has-error');
                            $('#user_password-error').text(data.responseJSON["password"].join("<br>"));
                        }
                    });
            });
        })
    </script>
{% endblock %}
