{% extends "base/base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style>
        .change-image {
            padding-top: 20px;
        }

        .change-image .img-responsive {
            margin: 0 auto;
            max-width: 180px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ol class="breadcrumb">
                    <li><a href="{% url "base:dashboard" %}">home</a></li>
                    <li class="active">configuración</li>
                </ol>
                <div class="wall inner-wall">
                    <h1>Configuración</h1>
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-error">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                    {% if form.name.help_text %}
                                        <span class="help-block">{{ form.name.help_text }}</span>
                                    {% endif %}
                                    {% if form.name.errors %}
                                        <span class="help-block">{{ form.name.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                    {{ form.name|add_class:"form-control" }}
                                </div>
                                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                    {% if form.email.help_text %}
                                        <span class="help-block">{{ form.email.help_text }}</span>
                                    {% endif %}
                                    {% if form.email.errors %}
                                        <span class="help-block">{{ form.email.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                        {{ form.email|add_class:"form-control" }}
                                    </div>
                                </div>

                                <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
                                    {% if form.phone.help_text %}
                                        <span class="help-block">{{ form.phone.help_text }}</span>
                                    {% endif %}
                                    {% if form.phone.errors %}
                                        <span class="help-block">{{ form.phone.errors|join:"<br \>" }}</span>
                                    {% endif %}
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        {{ form.phone | add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 change-image text-center">
                                {% if form.instance and form.instance.logo %}
                                    <img id="id_logo_container" src="{{ form.instance.logo.url }}"
                                         class="img-circle img-responsive">
                                {% else %}
                                    <img id="id_logo_container" src="{% static "images/default_avatar.png" %}"
                                         class="img-circle img-responsive">
                                {% endif %}
                                <br>
                                <span class="btn btn-default btn-xs btn-file">
                                    Cambiar logo <input id="id_logo" name="logo" type="file">
                                </span>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <div id="form_bank_set_container"
                                     class="form-group well {% if bank_form_set.non_form_errors %}has-error{% endif %}">
                                    <h5>Bancos</h5>
                                    <span class="help-block">{{ bank_form_set.non_form_errors|join:"<br \>" }}</span>

                                    <table id="form_bank_set_table" class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th scope="col">Nombre del banco</th>
                                            <th scope="col">Cantidad de ATMs</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for form in bank_form_set.forms %}
                                            <tr id="{{ form.prefix }}-row" class="dynamic-form form-group">
                                                <td class="form-group">
                                                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                    {{ form.name|add_class:"form-control" }}
                                                    <div class="help-block">{{ form.name.errors|join:"<br \>" }}</div>
                                                </td>
                                                <td class="form-group">
                                                    {{ form.atms_number|add_class:"form-control" }}
                                                    <div class="help-block">{{ form.atms_number.errors|join:"<br \>" }}</div>
                                                </td>
                                                <td>
                                                    {% if form.instance.pk %}
                                                        {{ form.DELETE }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="javascript:void(0)" class="add-bank-row btn btn-default">Añadir</a>
                                    {{ bank_form_set.management_form }}
                                </div>
                                <div id="form_address_set_container"
                                     class="form-group well {% if atm_location_form_set.non_form_errors %}has-error{% endif %}">
                                    <h5>Dirección de ATMs</h5>
                                    <span class="help-block">{{ atm_location_form_set.non_form_errors|join:"<br \>" }}</span>

                                    <table id="form_address_set_table" class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th scope="col">Dirección</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for form in atm_location_form_set.forms %}
                                            <tr id="{{ form.prefix }}-row" class="dynamic-form form-group">
                                                <td class="form-group">
                                                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                    {{ form.address|add_class:"form-control" }}
                                                    <div class="help-block">{{ form.address.errors|join:"<br \>" }}</div>
                                                </td>
                                                </td>
                                                <td>
                                                    {% if form.instance.pk %}
                                                        {{ form.DELETE }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="javascript:void(0)" class="add-address-row btn btn-default">Añadir</a>
                                    <hr>
                                    <div class="form-group">
                                        <h5>O Subir direcciones en CSV <a href="javascript: void (0)"
                                                                          data-toggle="popover"
                                                                          class="pull-right" data-placement="left"
                                                                          data-trigger="hover" title="Texto de Ayuda"
                                                                          data-content='El formato del archivo debe ser CSV y la cabecera debe ser <direccion>.'>
                                            <i class="fa fa-question-circle fa-2x"></i>
                                        </a></h5>
                                        <input id="id_address_csv" name="address_csv" type="file">
                                    </div>

                                    {{ atm_location_form_set.management_form }}
                                </div>
                                <div class="form-group well">
                                    <div class="form-group">
                                        <h5>Eventos de reposición de ATMs</h5>
                                        <input id="atms_reposition_events" name="atms_reposition_events" type="file">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <input class="btn btn-default btn-lg pull-right" name="save" type="submit"
                                           value="Guardar"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            // change picture
            function changeImg(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#id_logo_container").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#id_logo").change(function () {
                changeImg(this);
            });

            // init popover (help text)
            $("[data-toggle=popover]").popover();

            // function to clone form
            function cloneMore(selector, type) {
                var newElement = $(selector).clone(false);
                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                newElement.find(':input').each(function () {
                    var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                });
                newElement.find('label').each(function () {
                    var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr('for', newFor);
                });
                total++;
                $('#id_' + type + '-TOTAL_FORMS').val(total);
                $(selector).after(newElement);
            }

            $('.add-bank-row').click(function () {
                cloneMore('#form_bank_set_table tbody tr:last', 'banks');
            });

            $('.add-address-row').click(function () {
                cloneMore('#form_address_set_table tbody tr:last', 'companyatmlocation_set');
            });
        })
    </script>
{% endblock %}
